.description {
  flex: 1 1;
  cursor: inherit;
  margin-right: 13px;
  text-align: right;
}

.min-max {
  color: #757575;
}

.daily-details-All {
  grid-row-gap: 0;
  grid-column-gap: 13px;
  -webkit-column-gap: 13px;
  column-gap: 13px;
}

.daily-details-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.daily-details-grid-item label:first-child {
  color: #757575;
}

.daily-details-grid-item label:last-child {
  color: #212121;
}


.titleBox {
  font-size: 21px;
  font-weight: 600;
}

.daily-weather {
  align-items: center;
  background-color: lightskyblue;
  font-size: 17px;
  margin: 5px;
  border-radius: 15px;
  height: 40px;
  cursor: pointer;
  display: flex;
  padding: 4dvb 20px;
}

.icon-small {
  width: 40px;
}

.daily-item .day {
  cursor: inherit;
  color: #212121;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}
